@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    background-color: #ffffff;
}

.board {
    width: calc(100% - 60px); /* Resta 30px de cada lado */
    margin: 30px auto; /* Aplica margen de 30px en todos los lados y centra horizontalmente */
    overflow: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 11px #dedfdf;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.status p{
    background-color: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.description a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.utility a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}
