@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    background-color: #ffffff;
}

/*HERRAMIENTAS SUPERIOR*/
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    border-bottom: 1px solid #dedfdf;
    padding-bottom: 10px;
}

/*BOTON AGREGAR*/
.head .button-add{
    text-decoration: none;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
}
.head .add {
    margin: 30px 0 20px 30px;
    max-width: 150px;
    padding: 10px 20px;
    background-color: #D98324;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 10px;
    cursor: pointer;
    border: none;
}

.head .add img{
    width: 1.6rem;
}

/*HERRAMIENTAS INFERIOR*/
.footer-tools {
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center; /* Alinear elementos verticalmente */
    margin: 20px 30px;
    padding: 10px 0;
    width: calc(100% - 60px); /* Ajusta el ancho */
}

/*MONSTRAR N ENTRADAS*/
.list-items {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

/*PAGINAS*/
.pages {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.pages ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
    margin: 0;
}

.pages li {
    display: inline;
}

.pages span {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f9fafb;
    border: 1px solid #D98324;
    cursor: pointer;
    color: #D98324;
    font-weight: 600;
}

.pages .active {
    background-color: #D98324;
    color: white;
}

/*TABLA*/
.board {
    width: calc(100% - 60px); /* Resta 30px de cada lado */
    margin: 30px auto; /* Aplica margen de 30px en todos los lados y centra horizontalmente */
    overflow: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 11px #dedfdf;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.description .button{
    text-decoration: none;
    font-size: 14px;
    color: #027b98;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
